/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer-nav {
        color: wheat;
        margin-left: -48px !important;
    }
    .footer-nav ul li{
        margin-left: 0px;
        font-size: 8px;
        margin-top: 10px;
    }
    .footer-icon i{
        margin-left: 0px !important;
        gap: 10px;
    }
    .footer-icon i{
        margin-right: 20px;
        gap: 10px;
    }
    .hero-img .contant-hero h1{
        font-size: 35px !important;
    }
    .hero-card .card{
        width: 19rem !important;
        margin-top: 10px;
    }
    .about-card .card-body p{
        font-size: 14px;
        overflow: hidden;
    }
    .carousel-caption p{
        position: absolute;
        bottom: 18px !important;
        font-size: 14px;
        }
        .cb-all p{
            font-size: 12px;
        }
        .cb-all .doler{
            position: relative;
            float: right;
            margin-left: 130px !important;
            font-size: 14px;
            }
            .cb-all p{
                position: relative;
                margin-left: 22px !important;
                float: left;
                font-size: 14px;
            }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .footer-nav  li{
        margin-left: 130px;
        margin-top: 10px;
    }
    .footer-nav ul{
        margin-left: 120px;
    }
    .footer-icon i{
        gap: 10px;
        margin-top: 10px;
    }
    .hero-card .card{
        width: 22rem !important;
        margin-top: 10px;
    }
    .about-card .card-body p{
        font-size: 16px;
        overflow: hidden;
    }
    .cb-all .doler{
        position: relative;
        float: right;
        margin-left: 100px !important;
        font-size: 14px;
        }
        .cb-all p{
            position: relative;
            margin-left: 22px !important;
            float: left;
            font-size: 12px;
        }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footer-nav ul{
        margin-left: 0px;
    }
    .hero-card .card{
        width: 14rem !important;
        margin-top: 10px;
    }
    .about-card .card-body p{
        font-size: 22px;
        overflow: hidden;
    }
    .cb-all .doler{
        position: relative;
        float: right;
        margin-left: 200px !important;
        font-size: 14px;
        }
        .cb-all p{
            position: relative;
            margin-left: 22px !important;
            float: left;
            font-size: 18px;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero-card .card{
        width: 17rem !important;
        margin-top: 10px;
    }
    .about-card .card-body p{
        font-size: 26px;
        overflow: hidden;
    }
    .cb-all p{
        font-size: 16px;
    }
}
